.team-section {
    width: 100%;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background: #0c161e;
}

.team-headline {
    margin-bottom: 80px;
}

.team-headline h4 {
    line-height: 29px;
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 200;
}

.team-headline h4 span {
    font-weight: 700;
}

.team-headline p {
    line-height: 26px;
    font-size: 16px;
    color: #9EC6D8;
    font-weight: 300;
}

.rounded-circle {
    border-radius: 50%;
}

.avatar-overlay {
    position: relative;
}

.avatar-overlay:after {
    text-align: left;
    content:"Tim \A\A - Experience in web development \A - Likes to read papers \A - Picking his nose until it starts to bleed";
    white-space: pre;
    font-size: 18px;
    
    color:#fff;
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.avatar-overlay:hover:after {
    opacity:1;
}

.card {
    background-color: #101c26;
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
}

.card .avatar {
    padding: 30px;
}

.card img {
    max-width:100%;
}

.card h5 {
    color: #ffffff;
}

.card p {
    color: #9EC6D8;
}

.card a {
    cursor: pointer;
}